body, html {
  margin: 0;
  padding: 0;
  font-family: Monaco, "Lucida Console", monospace;
}

.hero {
  background: linear-gradient(135deg, rgba(40, 8, 114, 0.6), rgba(15, 15, 77, 0.6), rgba(29, 26, 26, 0.6)), 
  url("background.png") center/cover no-repeat;
  height: 100vh; /* full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  /* Border Radius to curve edges */
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.hero-content h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #230b49;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #000000;
  color: white;
}

